* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Added Font Family to the body to avoid typing in every section*/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d9dcd6;
}
/* Header styling seems to be okay. */
#header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

#header h1 {
    display: inline-block;
    font-size: 48px;
}

#header h1 .seo {
    color: #d9dcd6;
}
/* gave navigation its own name to make it easier on the eyes */
#navigation {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

#navigation ul {
    list-style-type: none;
}

#navigation ul li {
    display: inline-block;
    margin-left: 25px;
}
/* a is okay for now as there is only one section with links, but this would have to be changed if there were more links */
a {
    color: #ffffff;
    text-decoration: none;
}
/* The P is okay for now, but if there were sections we needed different font sizes in, this would have to be adjusted */
p {
    font-size: 16px;
}
/* HERO SECTION */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Changed name of this section, too vague */
#whatWeDoSection {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Made same class name to tighten up css */
.whatWeDo {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}
/* Tightened up img with same class name */
.whatWeDo img{
    max-height: 200px;
}
/* Tightened up h2 with same class name */
.whatWeDo h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* moved the float left and float right to be in sequencial order & called images by id rather than making a class for the img */
#orm img {
    float: right;
    margin-left: 25px;
}
#seo img {
    float: left;
    margin-right:25px;
}
#smm img {
    float: left;
    margin-right:25px;
}
/* Moved Benefits section to be in sequencial order of HTML */
#benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}
/* Tightened up benefits section with same class names. Removed redudencies in h3 and img */
.bene{
    margin-bottom: 32px;
    color: #ffffff;
}

.bene h3 {
    margin-bottom: 10px;
    text-align: center;
}

.bene img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Footer seems to be Okay */
#footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

#footer h2 {
    font-size: 20px;
}